In [1]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(pow(2,4))

30
-10
200
0.5
100000000000000000000
0
16

In [2]:
# Relational or comparision Operators
print(50>100)
print(100<400)
print(40<=50)
print(2==2)
print(2==1)
print(10!=5)
print(15!=10)

False
True
True
True
False
True
True

In [4]:
# logical operators
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

In [9]:
# not with and
print(not(False and False))
print(not(False and True))
print(not(True and False))
print(not(True and True))

True
True
True
False

In [10]:

print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

In [11]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=9 or 5==5)
print(not(100>99 and 50<20))

False
False
True
True

In [ ]:
# Assignment Operator
a=5
a+=5

In [1]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(pow(2,4))

30
-10
200
0.5
100000000000000000000
0
16

In [2]:
# Relational or comparision Operators
print(50>100)
print(100<400)
print(40<=50)
print(2==2)
print(2==1)
print(10!=5)
print(15!=10)

False
True
True
True
False
True
True

In [3]:
# logical operators
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

In [4]:
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

In [5]:
# not with and
print(not(False and False))
print(not(False and True))
print(not(True and False))
print(not(True and True))

True
True
True
False

In [6]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=9 or 5==5)
print(not(100>99 and 50<20))

False
False
True
True

In [7]:
# Assignment Operator
a=5
a+=5
a-=6
a*=4
a/=8
a

2.0

In [8]:
# Bitwise Operators & /,^
2&2
10 & 5
bin(40)
11 | 6

15

In [9]:
ord('A')

65

In [10]:
ord('a')

97

In [11]:
# Membership
s="welcome to python workshop"
'to' in s
'too' in s 
'workz' not in s
'python' in s

True

In [12]:
# Identity Operator is not,==,!=
n='hello'
m='world'
n is m

False

In [ ]:
# Conditional Statements
# if elif else
# Syntax
if (condition):
    statements
elif (condition):
    statements
else:
    statements

In [14]:
n=int(input('enter the number:-'))
if n%2==0:
    print(n,'Even Number')
else:
    print(n,'odd Number')

enter the number:-8
8 Even Number

In [15]:
n=int(input('enter the number:-'))
if n%2!=0:
    print(n,'odd Number')
else:
    print(n,'even Number')

enter the number:-21
21 odd Number

In [17]:
n=int(input("Enter a number"))
if(n==0):
    print(n, "is sunday")
elif(n==1):
    print(n, "is monday")
elif(n==2):
    print(n, "is tuesday")
elif(n==3):
    print(n, "is wednesday")
elif(n==4):
    print(n, "is thursday")
elif(n==5):
    print(n, "is friday")
elif(n==6):
    print(n, "is saturday")
else:
    print("Invalid")

Enter a number7
Invalid

In [ ]:
# Iteration
# For,while
# Syntax
# for variable in range(inclusive,exclusive,step):
    print(variablename)

In [19]:
for temp in range(10):  # 10+1 or 11
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,100+1):
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [23]:
for  rev in range(100,0,-1):
       print(rev, end=" <----")

100 <----99 <----98 <----97 <----96 <----95 <----94 <----93 <----92 <----91 <----90 <----89 <----88 <----87 <----86 <----85 <----84 <----83 <----82 <----81 <----80 <----79 <----78 <----77 <----76 <----75 <----74 <----73 <----72 <----71 <----70 <----69 <----68 <----67 <----66 <----65 <----64 <----63 <----62 <----61 <----60 <----59 <----58 <----57 <----56 <----55 <----54 <----53 <----52 <----51 <----50 <----49 <----48 <----47 <----46 <----45 <----44 <----43 <----42 <----41 <----40 <----39 <----38 <----37 <----36 <----35 <----34 <----33 <----32 <----31 <----30 <----29 <----28 <----27 <----26 <----25 <----24 <----23 <----22 <----21 <----20 <----19 <----18 <----17 <----16 <----15 <----14 <----13 <----12 <----11 <----10 <----9 <----8 <----7 <----6 <----5 <----4 <----3 <----2 <----1 <----

In [25]:
for even in range(1,50+1,2):
     print(even ,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [26]:
for even in range(1,50+1,2):
     print(even ,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [27]:
for odd in range(1,50+1,2):
     print(odd ,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [30]:
for dif in range(0,100,10):
     print(dif ,end=' ')

0 10 20 30 40 50 60 70 80 90

In [31]:
for dif in range(0,100,10):
     print(dif ,end='-> ')

0-> 10-> 20-> 30-> 40-> 50-> 60-> 70-> 80-> 90->

In [33]:
for i in range(1,10+1):
    print(2*i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [34]:
num=int(input('Enter Table:- '))
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)

Enter Table:- 21
21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

In [ ]:
num=int(input('Enter how many tables:- '))
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)